<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NodeJs|Learning</title>
  </head>
  <body>
    <h1>I am here from SSR and code well..</h1>
    <h3>1+1</h3>
    <h3><%-1+1%></h3>
  </body>
</html>
