<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>logIn Page</title>
    <link rel="stylesheet" href="login.css" />
  </head>
  <body>
    <%- include("../components/navbar.ejs") %>
    <div class="main">
      <div class="container">
        <h2>Login</h2>
        <form action="/login" method="post">
          <div class="form-group">
            <label for="loginEmail">Email</label>
            <input type="email" id="email" name="loginEmail" required />
          </div>
          <div class="form-group">
            <label for="loginPassword">Password</label>
            <input
              type="password"
              id="password"
              name="loginPassword"
              required
            />
          </div>
          <div class="form-group1">
            <button type="submit" class="btn">Log In</button>
            <a class="forgotpassword" href="/forgotpassword"
              >forgot password?</a
            >
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
