<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>reset password Page</title>
    <link rel="stylesheet" href="resetPassword.css" />
  </head>
  <body>
    <%- include("../components/navbar.ejs") %>
    <div class="main">
      <div class="container">
        <h2>reset password</h2>
        <form action="/resetpassword" method="post">
          <div class="form-group">
            <label for="newPassword">New Password</label>
            <input type="password" id="password" name="newPassword" required />
          </div>
          <div class="form-group">
            <label for="confirmNewPassword">Confirm New Password</label>
            <input
              type="password"
              id="password"
              name="confirmNewPassword"
              required
            />
          </div>
          <button type="submit" class="btn">Reset</button>
        </form>
      </div>
    </div>
  </body>
</html>
